body {
    font-family: Roboto, sans-serif;
    background-color: #060100;
    color: aliceblue;
}

.navbar {
    background-color: #fff;
}

#sobre-a-academia img {
    margin: 0 auto;
    text-align: center;
}

#cabecalho .nav .nav-link.active {
    background-color: #23b705;
    color: #fff;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-modalidades .nav-link.active:hover {
    color: #23b705;
}

.navbar-toggler {
    background-color: #028a00;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-a-academia, #modalidades {
    background-color: #060100;
}

.text-colored {
    color: #23b705;
}

.nav-modalidades .nav-link.active,
#fale-conosco button {
    background-color: #23b705;
    color: #fff;
}

.nav-modalidades .nav-link:hover {
    color: #fff;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}